@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
  :root {
    --primary: #f8ad9d;
    --secondary: #819fa7;
    --accent: #ffdab9;
    --background: #f2f2f0;
    --text: #0d0d0d;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-background text-text;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

input,
select,
option,
::placeholder,
input[placeholder] {
  color: #606060 !important;
}

.text-black {
  color: #0d0d0d;
}

.btn {
  @apply px-4 py-2 rounded font-semibold transition border-2 hover:bg-transparent transition-all duration-300;
}

.btn-primary {
  @apply bg-primary border-primary text-text;
}

.btn-primary-ghost {
  @apply border border-primary text-primary bg-transparent hover:bg-primary hover:text-white;
}

.btn-secondary {
  @apply bg-secondary border-secondary text-text;
}

.btn-accent {
  @apply bg-accent text-text hover:bg-opacity-80;
}

.input {
  @apply border border-secondary p-2 rounded bg-white text-text;
}
